/* Raleway Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: var(--body-color);
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", sans-serif;
}

/* CSS Variables */
:root {
    --body-color: #F5F8FF;
    --bg-color1: rgba(78, 71, 255, 0.1);
    --bg-color2: #FFFFFF;
    --brand-color: #4E47FF;
    --text-color1: rgba(117, 117, 117, 1); 
}

/* Start Repeated Styles */
.btn {
      padding: 12px 26px;
      color: whitesmoke;
      background-color: var(--brand-color);
      border-radius: 10px;
      font-weight: bold;
      border: 1px solid transparent;
      box-shadow: 0 4px 6px rgba(0, 86, 179, 0.5);
      cursor: pointer;
      transition: all .35s ease;
}

.btn:hover {
    background-color: var(--bg-color2);
    color: var(--brand-color);
    border: 1px solid var(--brand-color);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.section-gap {
    margin: 7.2rem 0;
}

/* End Repeated Styles */


/* Navbar */
header {
    background-image: url('./images/Hero-bg.png');
}

.nav-logo {
    padding: 3.1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo h4 {
    color: var(--brand-color);
    font-size: 2.2rem;
    font-weight: 900;
}

.nav-logo h4 span {
    color: black;
}

.hero-sec-text {
    padding: 9.5rem;
    text-align: center;
}

.hero-sec-text h1 {
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 2.2rem;
}

/* Action Section */
.action-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-sec h2 {
    font-size: 2.6rem;
    font-weight: bold;
}

.action-sec p {
    font-size: 1.5rem;
    color: var(--text-color1);
    padding: 1.5rem 0;
}

.action-img img {
    border-radius: 3rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15)0 8px 24px rgba(0, 0, 0, 0.15);
    transition: all .35s ease;
}

.action-img img:hover {
    transform: scale(1.1);
}

/* Users Section */
.users-sec {
    text-align: center;
    background-color: var(--bg-color1);
    border-radius: 1.5rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}


.users-sec h3 {
    font-size: 2.3rem;
    font-weight: bold;
    padding: 3rem 0;
}

.users {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 3.1rem;
}



.users-info p {
    font-size: 5rem;
    font-weight: bold;
    color: var(--brand-color);
    font-family: "Inter", sans-serif;
}

.users-info span {
    font-size: 1rem;
    color: var(--text-color1);
}

/* Review Section */
.reviews-sec h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 3.1rem;
}

.review-container {
    display: flex;
    justify-content: space-between;
}

.review-card {
    background-color: var(--bg-color2);
    padding: 2rem 4.5rem;
    border-radius: 14px;
    transition: all .35s ease;
}

.review-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.review-card h5 {
    font-size: 20px;
    font-weight: bold;
    padding: 0.5rem 0;
}

.review-card p {
    font-size: 14px;
}

.reviewer {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    gap: 20px;
}

.review-card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all .35s ease;
}

.review-card img:hover {
    border: 2px solid var(--brand-color);
    padding: 2px;
}

.info strong {
   color: var(--text-color1);
   letter-spacing: 2px;
}

.info span {
    color: var(--text-color1);
    font-size: 12px;
}

/* Focus Section */
.focus-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--bg-color2);
    border-radius: 14px;
    padding: 4.5rem 0;
}

.focus-text h2 {
    font-size: 3.1rem;
}

.focus-text p {
    font-size: 14px;
    color: var(--text-color1);
    padding: 1.2rem 0;
}

.focus-img img {
    border-radius: 3rem;
    margin-top: 1.3rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    transition: all .35s ease;
}

.focus-img img:hover {
    transform: translateY(3px) scale(1.1);
}

/* Form Section */
.form-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.form-text h1 {
    font-size: 97px;
    font-weight: bold;
}

.form-grp input {
    display: block;
    width: 80%;
    border: none;
    margin: 0.5rem 0 1.5rem;
    border-radius: 14px;
    padding: 20px 32px;
    border: 1px solid var(--bg-color1);
}

.form-grp label {
    font-weight: 500;
    padding-left: 10px;
}

textarea::placeholder {
    padding: 20px 0 0 32px;
}

.form-grp textarea {
    border: 1px solid var(--bg-color1);
    border-radius: 14px;
    margin: 0.5rem 0 1.5rem;
}

.form-btn {
    width: 100% ;
    display: block;
}


